
 <% cantidad=@questions.count %>
 <% if cantidad == 0 %>
    <%= image_tag "sincontenido.jpg", class:"img-thumbnail", alt:"Sin contenido" %>  
<% else %>
  <% @questions.order("created_at desc").each do |pregunta| %>
  <article class="post clearfix">
          <a href="#" class="imagen thumb pull-left hidden-xs hidden-sm"><%= image_tag "perfil.jpg", class:"img-thumbnail", alt:"Foto de perfil" %>
          </a>
          <div class="encabezado">
        
            <h3 class="post-title"><a href="#"><%= pregunta.titulo %></a></h2>
            <p><span class="post-fecha"><%= pregunta.fecha %></span> por <span class="post-autor"><a href="#"> <%= pregunta.user.full_name %> </a></span></p>

          </div>
          <p><span class="post-contenido text-justify"><%= sanitize truncate(pregunta.cuerpo, length: 100, escape: false) %></span></p> 
          <br>
          <h4> Etiquetas:</h4>
          <% pregunta.tags.each do |tag| %>
            <button type="button" class="btn btn-default"><%= tag.nombre %></button>
          <% end %>
          <h4>Facultad:</h4>
          <p><%= pregunta.user.university.nombre %></span></p>
          <div class="contenedor-botones">
          <%= link_to 'Leer Mas', question_path(:id => pregunta.id),class:"btn btn-primary pull-right"%>
           
            <p  class="label label-success pull-right CantRespuestas">Respuestas <span class="badge"><%= pregunta.answer.count %></span></p> 
          </div> 

  </article>
<% end %>
<% end %>

