<div class="row">
      <section class="posts col-md-9" >
        <div class="miga-de-pan">
          <ol class="breadcrumb">
            <li><a href="#">Inicio</a></li>

          </ol>
 </div>
 <% cantidad=Question.count %>
 <% if cantidad == 0 %>
    <%= image_tag "sincontenido.jpg", class:"img-thumbnail", alt:"Sin contenido" %>  
<% else %>
  <% Question.all.each do |pregunta| %>
  <article class="post clearfix">
          <a href="#" class="thumb pull-left hidden-xs hidden-sm"><%= image_tag "perfil.jpg", class:"img-thumbnail", alt:"Foto de perfil" %>
          </a>

          <h2 class="post-title"><a href="#"><%= pregunta.titulo %></a></h2>
          <p><span class="post-fecha"><%= pregunta.fecha %></span> por <span class="post-autor"><a href="#"><%= pregunta.user.full_name %> </a></span></p>
          <p class="post-contenido text-justify"><%= truncate(pregunta.cuerpo, length: 30 ) %></p>  
          <br>
          <h4> Etiquetas:</h4>
          <% pregunta.tags.each do |tag| %>
            <button type="button" class="btn btn-default"><%= tag.nombre %></button>
          <% end %>
          <h4>Universidad:</h4>
          <p><%= pregunta.user.university.nombre %></span></p>
          <div class="contenedor-botones">
          <%= link_to 'Leer Mas', question_path(:id => pregunta.id),class:"btn btn-primary pull-right"%>
      
            <a href="#" class="btn btn-success pull-right">Comentarios <span class="badge">20</span></a> 
          </div> 

  </article>
<% end %>
<% end %>


<nav>
<div class="center-block">
<ul class="pagination">
  <li class="disabled"><a href="#"> &laquo;<span class="sr-only">Anterior</span></a></li>
  <li class="active"><a href="#">1</a></li>
  <li>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <li><a href="#">&raquo; <span class="sr-only">Siguiente</span></a></li>

  </li>
</ul>
</div>
</nav>
