<div class="miga-de-pan">
  <ol class="breadcrumb">

    <li><%= link_to 'Inicio', questions_path %></li>
    <li><%= @question.titulo %></li>
  </ol>
</div>
<article class="post clearfix">
          <a href="#" class="imagen thumb pull-left hidden-xs hidden-sm"><%= image_tag "perfil.jpg", class:"img-thumbnail", alt:"Foto de perfil" %>
          </a>
          <div class="encabezado">
            <h3 class="post-title"><a href="#"><%= @question.titulo %></a></h3>
            <p><span class="post-fecha"><%= @question.fecha %></span> por <span class="post-autor"><a href="#"><%= @question.user.full_name %> </a></span></p>
          </div>
          <p class="post-contenido text-justify"><%= @question.cuerpo %></p>  
          <br>
          <h4> Etiquetas:</h4>
          <% @question.tags.each do |tag| %>
            <button type="button" class="btn btn-default"><%= tag.nombre %></button>
          <% end %>
          <h4>Universidad:</h4>
          <p><%= @question.user.university.nombre %></span></p>

          <% if user_signed_in? %>
            <% @comment = Comment.new %>
              <%= form_for [@question,@comment] do |f| %>
                <div class="input-group">
                  <%= f.text_area :texto ,class: "form-control", placeholder: "Escriba su Comentario", required:true %>
                  <% f.hidden_field :question %>
                  <%= f.submit "Comentar", class:"btn btn-success pull-left" %>
              </div>
              <% end %>
          <% end %>

  </article>
   <% cantidad=@question.answer.count %>
  <div class="Cant-respuestas">
    <button class="btn btn-primary" type="button">
      Respuestas <span class="badge"><%= cantidad %></span>
    </button>
  </div>
    
   
 <% if cantidad != 0 %>
  <% @question.answer.all.each do |answer| %>
  <article class="post clearfix">
          <div class="imagen thumb pull-left hidden-xs hidden-sm"><%= image_tag "perfil.jpg", class:"img-thumbnail", alt:"Foto de perfil" %>
          </div>
          <div class="encabezado">
            <p><span class="post-fecha"><%= answer.fecha %> por <span class="post-autor"><a href="#"><%= answer.user.full_name %> </a></span></p>
              
            <br>
          </div>
          <p><span class="post-contenido text-justify"><%= answer.texto %></span></p>
          <% if user_signed_in? %>
            <div class="input-group">
              <input type="text" class="form-control" aria-label="...">
              <div class="input-group-btn">
                <a href="#" class="btn btn-success pull-right">Comentar</a> 
              </div>
            </div>
          <% end %>
  </article>

<% end %>
<% end %>
<% if user_signed_in? %>

  <% @answer = Answer.new %>
  <%= form_for [@question,@answer] do |f| %>
    <div class="form-group">
      <%= f.label :texto, "Cuerpo de la respuesta" %><br>
      <%= f.text_area :texto ,class: "form-control", placeholder: "Escriba su respuesta",rows:8, required:true %>
      <% f.hidden_field :question %>
    </div>
    <%= f.submit "Enviar Respuesta", class:"btn btn-default"  %>
  <% end %>
<% end %>
