<% @VerDenuncias = Permiso.where(nombre: "Ver Denuncias").first %>
<% if @condicion != "0" %>
   <% if @condicion == "1" %>
       <div class="alert alert-danger" role="alert">Usted ya hizo un voto positivo</div>
   <% else %>
      <% if @condicion == "2" %>
        <div class="alert alert-danger" role="alert">Usted ya hizo un voto negativo</div>
      <% else %>
        <% if @condicion == "3" %>
          <div class="alert alert-danger" role="alert">No puedes votarte a ti mismo</div>
        <% else %>
          <% if @condicion == "4" %>
            <div class="alert alert-danger" role="alert">Para poder votar necesita al menos <%= Permiso.where(nombre: "Votar",tipo:"Necesario").first.cantidad %> puntos</div>
          <% else %>
            <% if @condicion =="5" %>
              <div class="alert alert-danger" role="alert">Para poder editar una pregunta necesita al menos <%= Permiso.where(nombre: "Editar Pregunta",tipo:"Necesario").first.cantidad %> puntos</div>
            <% else %>
              <% if @condicion == "6" %>
                <div class="alert alert-danger" role="alert">Para poder editar una respuesta necesita al menos <%= Permiso.where(nombre: "Editar Respuesta",tipo:"Necesario").first.cantidad %> puntos</div>
              <% else %>
                <% if @condicion == "7" %>
                  <div class="alert alert-danger" role="alert">Para poder editar un comentario necesita al menos <%= Permiso.where(nombre: "Editar Comentario",tipo:"Necesario").first.cantidad %> puntos</div>
                <% else %>
                  <% if @condicion == "8" %>
                    <div class="alert alert-danger" role="alert">No puedes realizar dos denuncias</div>
                  <% else %>
                    <% if @condicion == "10" %>
                      <div class="alert alert-danger" role="alert">Para responder tiene que completar el campo de texto</div>
                    <% else %>
                  <div class="alert alert-danger" role="alert">No puedes denunciarte a ti mismo</div>                      
                  <% end %>
                <% end %>

              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
   <% end %>
<% end %>
<% end %>
<div class="row">
      <section class="posts col-md-9" >
        <div class="miga-de-pan">
          <ol class="breadcrumb">
            <li><%= link_to 'Inicio', questions_path%></li>
            <li><%= @question.titulo %></li>
           
          </ol>
 </div>
<article class="post clearfix">
          <a href="#" class="imagen thumb pull-left hidden-xs hidden-sm"><%= image_tag @question.user.foto, class:"img-thumbnail", alt:"Foto de perfil" %>
          </a>
          <div class="encabezado">
          <% @Ajeno = Permiso.where(nombre: "Modificar ajeno").first %>
            <%if user_signed_in? && (current_user == @question.user or (current_user.votos >= @Ajeno.cantidad))%> 
              <div class="dropdown pull-right"><a class="dropdown-toggle glyphicon glyphicon-option-horizontal pull-right btn btn-default " data-toggle="dropdown" role="button"></a> 
                <ul class="dropdown-menu dropdown-menu-right" role="menu" >
                  <li> <%= link_to 'Editar', edit_question_path(:id => params[:id])%></li>
                  <li class="divider"></li>
                  <li> <%= link_to 'Borrar', @question, method: :delete, data: {confirm: "Esta seguro que desea elimnar su pregunta"} %></li>
                     <% if current_user.votos > @VerDenuncias.cantidad %>
                <li class="divider"></li>
                <li><%= link_to "Ver denuncias",reportes_report_path(:tipo_id => @question,:tipo => "Question")%></li>  
              <% end %>
                </ul>
              </div>
             
            <% end %>

              <h3 class="post-title"><%= @question.titulo %></h3>
         

           
            <p><span class="post-fecha"><%= @question.fecha %></span> por <span class="post-autor"><%= link_to @question.user.full_name, perfil_path(@question.user.id) %></span></p>


          </div>
          <p class="post-contenido text-justify"><%= sanitize @question.cuerpo %></p>  
          <br>
          <div class="votos pull-right">
            <% if user_signed_in? %>
              <p>
                <%= link_to "",new_vote_path(:valor => true,:id => @question,:tipo => "Question",:user => current_user,:question => @question), class:"glyphicon glyphicon-thumbs-up" %><span class="badge positive"> <%= @question.votes.positive.count %></span>
              </p>
              <span style="border-left: 2px solid black;margin:1px"></span>
              <p>
                <%= link_to "",new_vote_path(:valor => false,:id => @question,:tipo => "Question",:user => current_user.id,:question => @question), class:"glyphicon glyphicon-thumbs-down" %><span class="badge negative"> <%= @question.votes.negative.count %></span>
              </p>
              <p>
                <%= link_to "",new_report_path(:denuncia_id => @question,:denuncia_tipo => "Question",:question_id => @question), class:"glyphicon glyphicon-minus-sign" %><span class="badge negative"> <%= @question.reports.count %></span>
              </p>
            <% else %>
              <div class="votos pull-right">
                <p><a href="#" class="glyphicon glyphicon-thumbs-up"></a><span class="badge positive"> <%= @question.votes.positive.count %></span></p>
                <span style="border-left: 2px solid black;margin:1px"></span>
                 <p><a href="#" class="glyphicon glyphicon-thumbs-down"></a></p><span class="badge negative"> <%= @question.votes.negative.count %></span> 

                 <p><a href="#" class="glyphicon glyphicon-minus-sign"></a></p><span class="badge negative"> <%= @question.reports.count %></span> 
              </div>
             
            <% end %>
          </div>
          <h4> Etiquetas:</h4>
          <% @question.tags.each do |tag| %>
             <%= link_to tag.nombre ,questions_path(etiquetas: tag),class:"btn btn-default"%>
          <% end %>
          <h4>Facultad:</h4>

           <% if not @question.university.nil? %>
           <%= link_to @question.university.nombre , questions_path(facultad: @question.university.id),class:"btn btn-default"%>
          <% end %>
          </br></br>

          <% cantidad=@question.question_comment.count %>
          <% if cantidad != 0 %>
            <% @question.question_comment.all.order("created_at desc").each do |questioncomment| %>
              <div class="alert alert-success" role="alert">
              <% @Ajeno = Permiso.where(nombre: "Modificar ajeno").first %>
    
                <% if  user_signed_in? && (current_user == questioncomment.user or (current_user.votos >= @Ajeno.cantidad)) %>
                   <% if @editar != "2" or questioncomment.id.to_s != params[:idaq] %>

               <div class="dropdown pull-right"><a class="dropdown-toggle glyphicon glyphicon-option-horizontal pull-right btn btn-default " data-toggle="dropdown" role="button"></a> 
                <ul class="dropdown-menu dropdown-menu-right " role="menu" >
                  <li> <%= link_to 'Editar', edit_question_question_comment_path(:id => questioncomment.id, :question_id => questioncomment.question.id) %></li>
                <li class="divider"></li>
                  <li> <%= link_to 'Borrar', question_question_comment_path(@question, questioncomment), method: :delete,data: {confirm: "Esta seguro que desea elimnar su comentario"} %></li>
                    <li class="divider"></li>
                    <% if current_user.votos > @VerDenuncias.cantidad %>
                      <li><%= link_to "Ver denuncias",reportes_report_path(:tipo_id => questioncomment,:tipo => "QuestionComment")%></li> 
                      <% end %>
                </ul>
              </div>

                    <%= questioncomment.fecha %> | <%= questioncomment.user.full_name %>: <%= questioncomment.texto %> 
                
                <% else %>

                      <% @question_comment= QuestionComment.find(params[:idaq]) %>
                      <%= form_for [@question,@question_comment] do |g| %>
                        <div class="form-group">
                          <%= g.text_field :texto ,class: "form-control", placeholder: "Escriba su Comentario", required:true %>
                          <% g.hidden_field :question %>
                          <div class="input-group-btn">
                            <%= g.submit "Guardar cambios", class:"btn btn-default"  %>
                          </div>                          
                        </div>
                      <% end %>
                <% end %>

                <% else %>
                  <%= questioncomment.fecha %> | <%= questioncomment.user.full_name %>: <%= questioncomment.texto %>
                 

                <% end %>

                <% if user_signed_in? %>
                  <div class="votos pull-right">
         
                    <span style="border-left: 2px solid black;margin:1px"></span>
                    <p>
                      <%= link_to "",new_vote_path(:valor => true,:id => questioncomment,:tipo => "QuestionComment",:user => current_user.id,:question => @question), class:"glyphicon glyphicon-thumbs-up" %><span class="badge positive"> <%= questioncomment.votes.positive.count %></span>
                    </p>
                    <span style="border-left: 2px solid black;margin:1px"></span>
                    <p>
                      <%= link_to "",new_vote_path(:valor => false,:id => questioncomment,:tipo => "QuestionComment",:user => current_user.id,:question => @question), class:"glyphicon glyphicon-thumbs-down" %><span class="badge negative"> <%= questioncomment.votes.negative.count %></span>
                    </p>
                    <span style="border-left: 2px solid black;margin:1px"></span>
                    <p>
                      <%= link_to "",new_report_path(:denuncia_id => questioncomment,:denuncia_tipo => "QuestionComment",:question_id => @question), class:"glyphicon glyphicon-minus-sign" %><span class="badge negative"> <%= questioncomment.reports.count %></span>
                    </p>
                  </div>
                <% else %>
                  <div class="votos pull-right">
                    <p><a href="#" class="glyphicon glyphicon-thumbs-up"></a><span class="badge positive"> <%= questioncomment.votes.positive.count %></span></p>
                  
                    <span style="border-left: 2px solid black;margin:1px"></span>

                    <p><a href="#" class="glyphicon glyphicon-thumbs-down"></a></p><span class="badge negative"> <%= questioncomment.votes.negative.count %></span>

                    <p><a href="#" class="glyphicon glyphicon-minus-sign"></a></p><span class="badge negative"> <%= questioncomment.reports.count %></span>
                  </div>
                 

                <% end %>  
              </div>
            <% end %>
          <% end  %>
          <% if user_signed_in? %>
              <% @question_comment= QuestionComment.new %>
              <%= form_for [@question,@question_comment] do |g| %>
                <div class="form-group">
                  <%= g.text_field :texto ,class: "form-control", placeholder: "Escriba su Comentario", required:true %>
                  <% g.hidden_field :question %>
                  <div class="input-group-btn">
                    <%= g.submit "Comentar", class:"btn btn-default"  %>
                  </div>
                  
                </div>
              <% end %>
          <% end %>
  </article>
  
<% if @question.bestAnswer != 0 %>
  <h3> <span class="label label-default">Mejor respuesta</span></h3>
  <% @answer = Answer.find(@question.bestAnswer) %>
      <article class="post clearfix">

<div class="imagen thumb pull-left hidden-xs hidden-sm"> <%= image_tag @answer.user.foto, class:"img-thumbnail", alt:"Foto de perfil" %> </div>
          <div class="encabezado">

         
          <% @Ajeno = Permiso.where(nombre: "Modificar ajeno").first %>
    
          <%if  user_signed_in? && (current_user == @answer.user or (current_user.votos >= @Ajeno.cantidad))%>
                            <div class="dropdown pull-right"><a class="dropdown-toggle glyphicon glyphicon-option-horizontal pull-right btn btn-default " data-toggle="dropdown" role="button"></a> 
                <ul class="dropdown-menu dropdown-menu-right " role="menu" >
                  <li> <%= link_to 'Editar', edit_answer_path(:id => @answer.id) %></li>
                  <li class="divider"></li>
                  <li> <%= link_to 'Borrar', @answer, method: :delete,data: {confirm: "Esta seguro que desea elimnar su respuesta"}%></li>
                  <li class="divider"></li>
                 <% if current_user.votos > @VerDenuncias.cantidad %>
              <li><%= link_to "Ver denuncias",reportes_report_path(:tipo_id => @answer,:tipo => "Answer")%></li> 
            <% end %>
                </ul>
              </div>
          <% else %>
             <p><span class="post-fecha "> <%= @answer.fecha %> por <span class="post-autor"><%= link_to @answer.user.full_name, perfil_path(@answer.user.id) %></span></p>
              <% end %>
    

      <% if @editar != "1" or current_user != @answer.user %>
                <p><span class="post-contenido text_alingth_center"><%= sanitize @answer.texto %></span></p>
             
            <br>
            <% if user_signed_in? %>


                  <div class="votos pull-right">
                    <p>
                      <%= link_to "",new_vote_path(:valor => true,:id => @answer,:tipo => "Answer",:user => current_user.id,:question => @question), class:"glyphicon glyphicon-thumbs-up" %><span class="badge positive"> <%= @answer.votes.positive.count %></span>
                    </p>
                    <span style="border-left: 2px solid black;margin:1px"></span>
                    <p>
                      <%= link_to "",new_vote_path(:valor => false,:id => @answer,:tipo => "Answer",:user => current_user.id,:question => @question), class:"glyphicon glyphicon-thumbs-down" %><span class="badge negative"> <%= @answer.votes.negative.count %></span>
                    </p>
                    <span style="border-left: 2px solid black;margin:1px"></span>
                    <p>
                      <%= link_to "",new_report_path(:denuncia_id => @answer,:denuncia_tipo => "Answer",:question_id => @question), class:"glyphicon glyphicon-minus-sign" %><span class="badge negative"> <%= @answer.reports.count %></span>
                    </p>
                    <% if current_user == @question.user %>
                      <% if @question.user != @answer.user %>
                        <p>
                          <%= link_to "",question_bestAnswer_path(current_user,:answer => @answer,:question => @question), class:"glyphicon glyphicon glyphicon-star-empty" ,data:{confirm:"Estas seguro de elegir como favorito esta respuesta"}%>
                        </p>
                      <% end %>
                    <% end %>
                  </div>

                <% else %>
                  <div class="votos pull right">
                     <p><a href="#" class="glyphicon glyphicon-thumbs-up"></a><span class="badge positive"> <%= @answer.votes.positive.count %></span></p>

                    <span style="border-left: 2px solid black;margin:1px"></span>

                    <p><a href="#" class="glyphicon glyphicon-thumbs-down"></a></p><span class="badge negative"> <%= @answer.votes.negative.count %></span>             
                    <p><a href="#" class="glyphicon glyphicon-minus-sign"></a></p><span class="badge negative"> <%= @answer.reports.count %></span>
                  </div>  
                 

                <% end %>

              </div>


                 
              <% cantidad=@answer.answer_comment.count %>
              <% if cantidad != 0 %>
                <% @answer.answer_comment.all.order("created_at desc").each do |answercomment| %>
                  <div class="alert alert-success" role="alert">
                  
                   <% @Ajeno = Permiso.where(nombre: "Modificar ajeno").first %>
                   <% if  (user_signed_in?) && (current_user == answercomment.user or (current_user.votos >= @Ajeno.cantidad) )%>
                    <% if @editar != "3" or answercomment.id.to_s != params[:idac] %>
   <div class="dropdown pull-right"><a class="dropdown-toggle glyphicon glyphicon-option-horizontal pull-right btn btn-default " data-toggle="dropdown" role="button"></a> 
                <ul class="dropdown-menu dropdown-menu-right" role="menu" >
                  <li> <%= link_to 'Editar', edit_answer_answer_comment_path(:id => answercomment.id, :answer_id => answercomment.answer.id)%></li>
                  <li class="divider"></li>
                  <li> <%= link_to 'Borrar', answer_answer_comment_path(@answer, answercomment), method: :delete,data: {confirm: "Esta seguro que desea elimnar su comentario"}%></li>
                  <li class="divider"></li>
                   <% if current_user.votos > @VerDenuncias.cantidad %>
                         <li>   <%= link_to "Ver denuncias",reportes_report_path(:tipo_id => answercomment,:tipo => "AnswerComment")%></li>
                        <% end %>
                </ul>
              </div>
                      <%= answercomment.fecha %> | <%= answercomment.user.full_name %>: <%= answercomment.texto %> 
                  <% else %>
                   
                      <% @answerComment= AnswerComment.find(params[:idac]) %>

                      <%= form_for [@answer,@answerComment] do |g| %>
                        <div class="form-group">
                          <%= g.text_field :texto ,class: "form-control", placeholder: "Escriba su Comentario", required:true %>
                          <% g.hidden_field :answer %>
                          <div class="input-group-btn">
                            <%= g.submit "Guardar cambios", class:"btn btn-default"  %>
                          </div>
                          
                        </div>
                      <% end %>
                  <% end %>
                <% else %>
             <%= answercomment.fecha %> | <%= answercomment.user.full_name %>: <%= answercomment.texto %>
                 
                <% end %>
                   <% if user_signed_in? %>
                      <div class="votos pull-right">
                     

                        <p>
                          <%= link_to "",new_vote_path(:valor => true,:id => answercomment,:tipo => "AnswerComment",:user => current_user.id,:question => @question), class:"glyphicon glyphicon-thumbs-up" %><span class="badge positive"> <%= answercomment.votes.positive.count %></span>
                        </p>
                        <span style="border-left: 2px solid black;margin:1px"></span>
                        <p>
                          <%= link_to "",new_vote_path(:valor => false,:id => answercomment,:tipo => "AnswerComment",:user => current_user.id,:question => @question), class:"glyphicon glyphicon-thumbs-down" %><span class="badge negative"> <%= answercomment.votes.negative.count %></span>
                        </p>
                        <span style="border-left: 2px solid black;margin:1px"></span>
                        <p>
                         <%= link_to "",new_report_path(:denuncia_id => answercomment,:denuncia_tipo => "AnswerComment",:question_id => @question), class:"glyphicon glyphicon-minus-sign" %><span class="badge negative"> <%= answercomment.reports.count %></span>
                        </p>
                      </div>
                    <% else %>
                      <div class="votos pull-right">
                        <p><a href="#" class="glyphicon glyphicon-thumbs-up"></a><span class="badge positive"> <%= answercomment.votes.positive.count %></span></p>
                      
                        <span style="border-left: 2px solid black;margin:1px"></span>

                        <p><a href="#" class="glyphicon glyphicon-thumbs-down"></a></p><span class="badge negative"> <%= answercomment.votes.negative.count %></span>

                        <p><a href="#" class="glyphicon glyphicon-minus-sign"></a></p><span class="badge negative"> <%= answercomment.reports.count %></span>
                      </div>
                     


                    <% end %>
                  </div>
                <% end %>
              <% end  %>
              <% if user_signed_in? %>
                <% @answerComment= AnswerComment.new %>
                
                <%= form_for [@answer,@answerComment] do |g| %>
                  <div class="form-group">
                    <%= g.text_field :texto ,class: "form-control", placeholder: "Escriba su Comentario", required:true %>
                    <% g.hidden_field :answer %>
                    <div class="input-group-btn">
                      <%= g.submit "Comentar", class:"btn btn-default"  %>
                    </div>
                    
                  </div>
                <% end %>
              <% end %>
  <% else %>
</br>
  <% @answer = Answer.find(params[:ida]) %>
        <%= form_for [@question,@answer] do |f| %>
        <div class="form-group">
          <%= f.label :texto, "Editar respuesta" %><br>
          <%= f.text_area :texto, :class => "tinymce", placeholder: "Escriba su respuesta",rows:5 %>
          <%= tinymce %>
          <%= f.hidden_field :question %>
        </div>
        <%= f.submit "Guardar Cambios", class:"btn btn-default"  %>
        <% end %>
<% end %>



      </article>
    
<% end %>  
<% cantidad=@question.answer.count %>
  <div class="Cant-respuestas">
    <p  class="label label-success pull-left CantRespuestas">Respuestas <span class="badge"><%= cantidad %></span></p>
    </br>
    </br>
    
</div>

 <% if cantidad != 0 %>
  <% @question.answer.all.order("created_at desc").each do |answer| %>
  <article class="post clearfix">
   <% if answer.id != @question.bestAnswer %>
          <div class="imagen thumb pull-left hidden-xs hidden-sm"> <%= image_tag answer.user.foto, class:"img-thumbnail", alt:"Foto de perfil" %> </div>
          <div class="encabezado">

              
           

        
 <% @Ajeno = Permiso.where(nombre: "Modificar ajeno").first %>
                  
          <%if  user_signed_in? && (current_user == answer.user or (current_user.votos >= @Ajeno.cantidad))%>
                            <div class="dropdown pull-right"><a class="dropdown-toggle glyphicon glyphicon-option-horizontal pull-right btn btn-default " data-toggle="dropdown" role="button"></a> 
                <ul class="dropdown-menu dropdown-menu-right" role="menu" >
                  <li> <%= link_to 'Editar', edit_answer_path(:id => answer.id)%></li>
                  <li class="divider"></li>
                  <li> <%= link_to 'Borrar',  answer, method: :delete,data: {confirm: "Esta seguro que desea elimnar su respuesta"}%></li>
                 <li class="divider"></li>
                 <% if current_user.votos > @VerDenuncias.cantidad %>
              <li><%= link_to "Ver denuncias",reportes_report_path(:tipo_id => answer,:tipo => "Answer") %></li>  
            <% end %>
                </ul>
              </div>
              <%= answer.fecha %> por <span class="post-autor"><%= link_to answer.user.full_name, perfil_path(answer.user.id) %></a></span></p>

          <% else %>
             <p><span class="post-fecha "> <%= answer.fecha %> por <span class="post-autor"><%= link_to answer.user.full_name, perfil_path(answer.user.id) %></span></p>
              <% end %>
    

      <% if @editar != "1" or current_user != answer.user %>
                <p><span class="post-contenido text-justify "><%= sanitize answer.texto %></span></p>
             
            <br>
            <% if user_signed_in? %>


                  <div class="votos pull-right">
                    <p>
                      <%= link_to "",new_vote_path(:valor => true,:id => answer,:tipo => "Answer",:user => current_user.id,:question => @question), class:"glyphicon glyphicon-thumbs-up" %><span class="badge positive"> <%= answer.votes.positive.count %></span>
                    </p>
                    <span style="border-left: 2px solid black;margin:1px"></span>
                    <p>
                      <%= link_to "",new_vote_path(:valor => false,:id => answer,:tipo => "Answer",:user => current_user.id,:question => @question), class:"glyphicon glyphicon-thumbs-down" %><span class="badge negative"> <%= answer.votes.negative.count %></span>
                    </p>
                    <span style="border-left: 2px solid black;margin:1px"></span>
                    <p>
                      <%= link_to "",new_report_path(:denuncia_id => answer,:denuncia_tipo => "Answer",:question_id => @question), class:"glyphicon glyphicon-minus-sign" %><span class="badge negative"> <%= answer.reports.count %></span>
                    </p>
                    <% if current_user == @question.user %>
                      <% if @question.user != answer.user %>
                        <p>
                          <%= link_to "",question_bestAnswer_path(current_user,:answer => answer,:question => @question), class:"glyphicon glyphicon glyphicon-star-empty" ,data:{confirm:"Estas seguro de elegir como favorito esta respuesta"}%>
                        </p>
                      <% end %>
                    <% end %>
                  </div>

                <% else %>
                  <div class="votos pull-right">
                     <p><a href="#" class="glyphicon glyphicon-thumbs-up"></a><span class="badge positive"> <%= answer.votes.positive.count %></span></p>

                    <span style="border-left: 2px solid black;margin:1px"></span>

                    <p><a href="#" class="glyphicon glyphicon-thumbs-down"></a></p><span class="badge negative"> <%= answer.votes.negative.count %></span>             
                    
                    <p><a href="#" class="glyphicon glyphicon-minus-sign"></a></p><span class="badge negative"> <%= answer.reports.count %></span>
                  </div>  
                 

                <% end %>

              </div>


                 
              <% cantidad=answer.answer_comment.count %>
              <% if cantidad != 0 %>
                <% answer.answer_comment.all.order("created_at desc").each do |answercomment| %>
                  <div class="alert alert-success" role="alert">

                   <% @Ajeno = Permiso.where(nombre: "Modificar ajeno").first %>

                   <% if user_signed_in? && (current_user == answercomment.user or (current_user.votos >= @Ajeno.cantidad))%>
                     <% if @editar != "3" or answercomment.id.to_s != params[:idac] %>
   <div class="dropdown pull-right"><a class="dropdown-toggle glyphicon glyphicon-option-horizontal pull-right btn btn-default " data-toggle="dropdown" role="button"></a> 
                <ul class="dropdown-menu dropdown-menu-right  " role="menu" >
                  <li> <%= link_to 'Editar', edit_answer_answer_comment_path(:id => answercomment.id, :answer_id => answercomment.answer.id) %></li>
                  <li class="divider"></li>
                  <li> <%= link_to 'Borrar',  answer_answer_comment_path(answer, answercomment), method: :delete,data: {confirm: "Esta seguro que desea elimnar su comentario"}%></li>
                 <li class="divider"></li>
                  <% if current_user.votos > @VerDenuncias.cantidad %>
                        <li>  <%= link_to "Ver denuncias",reportes_report_path(:tipo_id => answercomment,:tipo => "AnswerComment")%></li>
                        <% end %>
                </ul>
              </div>
                        <%= answercomment.fecha %> | <%= answercomment.user.full_name %>: <%= answercomment.texto %> 


                    <% else %>
                     
                        <% @answerComment= AnswerComment.find(params[:idac]) %>
                        <% @answer = answer %>
                        <%= form_for [@answer,@answerComment] do |g| %>
                          <div class="form-group">
                            <%= g.text_field :texto ,class: "form-control", placeholder: "Escriba su Comentario", required:true %>
                            <% g.hidden_field :answer %>
                            <div class="input-group-btn">
                              <%= g.submit "Guardar cambios", class:"btn btn-default"  %>
                            </div>
                            
                          </div>
                        <% end %>
                    <% end %>
                  
                <% else %>
                   <%= answercomment.fecha %> | <%= answercomment.user.full_name %>: <%= answercomment.texto %>
                 <% end %>

                   <% if user_signed_in? %>
                      <div class="votos pull-right">
                        
                        <p>
                          <%= link_to "",new_vote_path(:valor => true,:id => answercomment,:tipo => "AnswerComment",:user => current_user.id,:question => @question), class:"glyphicon glyphicon-thumbs-up" %><span class="badge positive"> <%= answercomment.votes.positive.count %></span>
                        </p>
                        <span style="border-left: 2px solid black;margin:1px"></span>
                        <p>
                          <%= link_to "",new_vote_path(:valor => false,:id => answercomment,:tipo => "AnswerComment",:user => current_user.id,:question => @question), class:"glyphicon glyphicon-thumbs-down" %><span class="badge negative"> <%= answercomment.votes.negative.count %></span>
                        </p>
                        <span style="border-left: 2px solid black;margin:1px"></span>
                        <p>
                          <%= link_to "",new_report_path(:denuncia_id => answercomment,:denuncia_tipo => "AnswerComment",:question_id => @question), class:"glyphicon glyphicon-minus-sign" %><span class="badge negative"> <%= answercomment.reports.count %></span>

                        </p>
                      </div>
                    <% else %>
                      <div class="votos pull-right">
                        <p><a href="#" class="glyphicon glyphicon-thumbs-up"></a><span class="badge positive"> <%= answercomment.votes.positive.count %></span></p>
                      
                        <span style="border-left: 2px solid black;margin:1px"></span>

                        <p><a href="#" class="glyphicon glyphicon-thumbs-down"></a></p><span class="badge negative"> <%= answercomment.votes.negative.count %></span>

                        <p><a href="#" class="glyphicon glyphicon-minus-sign"></a></p><span class="badge negative"> <%= answercomment.reports.count %></span>
                      </div>
                     


                    <% end %>
                  </div>
                <% end %>
              <% end  %>
              <% if user_signed_in? %>
                <% @answerComment= AnswerComment.new %>
                <% @answer = answer %>
                <%= form_for [@answer,@answerComment] do |g| %>
                  <div class="form-group">
                    <%= g.text_field :texto ,class: "form-control", placeholder: "Escriba su Comentario", required:true %>
                    <% g.hidden_field :answer %>
                    <div class="input-group-btn">
                      <%= g.submit "Comentar", class:"btn btn-default"  %>
                    </div>
                    
                  </div>
                <% end %>
              <% end %>
  <% else %>
</br>
  <% @answer = Answer.find(params[:ida]) %>
        <%= form_for [@question,@answer] do |f| %>
        <div class="form-group">
          <%= f.label :texto, "Editar respuesta" %><br>
          <%= f.text_area :texto, :class => "tinymce", placeholder: "Escriba su respuesta",rows:5 %>
          <%= tinymce %>
          <%= f.hidden_field :question %>
        </div>
        <%= f.submit "Guardar Cambios", class:"btn btn-default"  %>
        <% end %>
<% end %>



      </article>
    <% end %>
<% end %>
<% end %>

<% if user_signed_in? %>

  <% @cantidad = @question.answer.where(user: current_user.id).count %> 
  <%if @cantidad == 0 %>
      <% @answer = Answer.new %>  
      <%= form_for [@question,@answer] do |f| %>
        <div class="form-group">
          <%= f.label :texto, "Cuerpo de la respuesta" %><br>
          <%= f.text_area :texto, :class => "tinymce", placeholder: "Escriba su respuesta",rows:15 %>
          <%= tinymce %>
          <%= f.hidden_field :question %>
        </div>
        <%= f.submit "Enviar Respuesta", class:"btn btn-default"  %>
      <% end %>
  <% else %>
     <div class="alert alert-danger" role="alert">Disculpe, solo se puede realizar una respuesta por pregunta</div>
  <% end %>
<% end %>
