<% if @condicion != "0" %>
   <% if @condicion == "1" %>
       <div class="alert alert-danger" role="alert">Usted ya hizo un voto positivo</div>
   <% else %>
      <% if @condicion == "2" %>
        <div class="alert alert-danger" role="alert">Usted ya hizo un voto negativo</div>
      <% else %>
        <% if @condicion == "3" %>
          <div class="alert alert-danger" role="alert">No puedes votarte a ti  mismo</div>
        <% else %>
          <div class="alert alert-danger" role="alert">Para poder votar requieres <%= Permiso.where(nombre: "Votar").first.cantidad %> puntos</div>
        <% end %>
      <% end %>
   <% end %>
<% end %>

<div class="row">
      <section class="posts col-md-9" >
        <div class="miga-de-pan">
          <ol class="breadcrumb">
            <li><%= link_to 'Inicio', questions_path%></li>
            <li><%= @question.titulo %></li>
           
          </ol>
 </div>
<article class="post clearfix">
          <a href="#" class="imagen thumb pull-left hidden-xs hidden-sm"><%= image_tag "perfil.jpg", class:"img-thumbnail", alt:"Foto de perfil" %>
          </a>
          <div class="encabezado">

           <%if current_user == @question.user %> 
            <h3 class="post-title"><%= @question.titulo %><%= link_to 'Editar', edit_question_path(:id => params[:id]),class:"btn btn-default  pull-right" %></h3>
            <% else %>
              <h3 class="post-title"><%= @question.titulo %></h3>
            <% end %>

            <p><span class="post-fecha"><%= @question.fecha %></span> por <span class="post-autor"><a href="#"><%= @question.user.full_name %> </a> Puntos: <%= @question.user.votos %></span></p>


          </div>
          <p class="post-contenido text-justify"><%= sanitize @question.cuerpo %></p>  
          <br>
          <div class="votos pull-right">
            <% if user_signed_in? %>
              <p>
                <%= link_to "",new_vote_path(:valor => true,:id => @question,:tipo => "Question",:user => current_user,:question => @question), class:"glyphicon glyphicon-thumbs-up" %><span class="badge positive"> <%= @question.votes.positive.count %></span>
              </p>
              <span style="border-left: 2px solid black;margin:1px"></span>
              <p>
                <%= link_to "",new_vote_path(:valor => false,:id => @question,:tipo => "Question",:user => current_user.id,:question => @question), class:"glyphicon glyphicon-thumbs-down" %><span class="badge negative"> <%= @question.votes.negative.count %></span>
              </p>
            <% else %>
              <div class="votos pull-right">
                <p><a href="#" class="glyphicon glyphicon-thumbs-up"></a><span class="badge positive"> <%= @question.votes.positive.count %></span></p>
                <span style="border-left: 2px solid black;margin:1px"></span>
                 <p><a href="#" class="glyphicon glyphicon-thumbs-down"></a></p><span class="badge negative"> <%= @question.votes.negative.count %></span>  
              </div>
             
            <% end %>
          </div>
          <h4> Etiquetas:</h4>
          <% @question.tags.each do |tag| %>
            <button type="button" class="btn btn-default"><%= tag.nombre %></button>
          <% end %>
          <h4>Facultad:</h4>

           <% if not @question.university.nil? %>
            <p><%= @question.university.nombre %></span></p>
          <% end %>
          <% cantidad=@question.question_comment.count %>
          <% if cantidad != 0 %>
            <% @question.question_comment.all.order("created_at desc").each do |questioncomment| %>
              <div class="alert alert-success" role="alert">

                <% if current_user != questioncomment.user %>
                    <%= questioncomment.fecha %> | <%= questioncomment.user.full_name %>: <%= questioncomment.texto %>
                <% else %>
                 
                 <% if @editar != "2" or questioncomment.id.to_s != params[:ida] %>

                    <%= questioncomment.fecha %> | <%= questioncomment.user.full_name %>: <%= questioncomment.texto %> <%= link_to 'Editar', edit_question_question_comment_path(:id => questioncomment.id, :question_id => questioncomment.question.id), class:"btn btn-default  pull-right" %>
                <% else %>
                      <% @question_comment= QuestionComment.find(params[:ida]) %>
                      <%= form_for [@question,@question_comment] do |g| %>
                        <div class="form-group">
                          <%= g.text_field :texto ,class: "form-control", placeholder: "Escriba su Comentario", required:true %>
                          <% g.hidden_field :question %>
                          <div class="input-group-btn">
                            <%= g.submit "Guardar cambios", class:"btn btn-default"  %>
                          </div>                          
                        </div>
                      <% end %>
                <% end %>


                <% end %>
                <% if user_signed_in? %>
                  <div class="votos pull-right">
                    <p>
                      <%= link_to "",new_vote_path(:valor => true,:id => questioncomment,:tipo => "QuestionComment",:user => current_user.id,:question => @question), class:"glyphicon glyphicon-thumbs-up" %><span class="badge positive"> <%= questioncomment.votes.positive.count %></span>
                    </p>
                    <span style="border-left: 2px solid black;margin:1px"></span>
                    <p>
                      <%= link_to "",new_vote_path(:valor => false,:id => questioncomment,:tipo => "QuestionComment",:user => current_user.id,:question => @question), class:"glyphicon glyphicon-thumbs-down" %><span class="badge negative"> <%= questioncomment.votes.negative.count %></span>
                    </p>
                  </div>
                <% else %>
                  <div class="votos pull-right">
                    <p><a href="#" class="glyphicon glyphicon-thumbs-up"></a><span class="badge positive"> <%= questioncomment.votes.positive.count %></span></p>
                  
                    <span style="border-left: 2px solid black;margin:1px"></span>

                    <p><a href="#" class="glyphicon glyphicon-thumbs-down"></a></p><span class="badge negative"> <%= questioncomment.votes.negative.count %></span>
                  </div>
                 

                <% end %>  
              </div>
            <% end %>
          <% end  %>
          <% if user_signed_in? %>
              <% @question_comment= QuestionComment.new %>
              <%= form_for [@question,@question_comment] do |g| %>
                <div class="form-group">
                  <%= g.text_field :texto ,class: "form-control", placeholder: "Escriba su Comentario", required:true %>
                  <% g.hidden_field :question %>
                  <div class="input-group-btn">
                    <%= g.submit "Comentar", class:"btn btn-default"  %>
                  </div>
                  
                </div>
              <% end %>
          <% end %>
  </article>
  
<% if @question.bestAnswer != 0 %>
  <h3> <span class="label label-default">Mejor respuesta</span></h3>
  <% @answer = Answer.find(@question.bestAnswer) %>
      <article class="post clearfix">
              <div class="imagen thumb pull-left hidden-xs hidden-sm"><%= image_tag "perfil.jpg", class:"img-thumbnail", alt:"Foto de perfil" %>
              </div>
              <div class="encabezado">
                <p><span class="post-fecha"><%= @answer.fecha %> por <span class="post-autor"><a href="#"><%= @answer.user.full_name %> </a> Puntos: <%= @answer.user.votos %></span></p>
                   <p><span class="post-contenido text-justify"><%=sanitize @answer.texto %></span></p>
                <br>
                <% if user_signed_in? %>  

                  <div class="votos pull-right">
                    <p>
                      <%= link_to "",new_vote_path(:valor => true,:id => @answer,:tipo => "Answer",:user => current_user.id,:question => @question), class:"glyphicon glyphicon-thumbs-up" %><span class="badge positive"> <%= @answer.votes.positive.count %></span>
                    </p>
                    <span style="border-left: 2px solid black;margin:1px"></span>
                    <p>
                      <%= link_to "",new_vote_path(:valor => false,:id => @answer,:tipo => "Answer",:user => current_user.id,:question => @question), class:"glyphicon glyphicon-thumbs-down" %><span class="badge negative"> <%= @answer.votes.negative.count %></span>
                    </p>
                  </div>

                <% else %>
                  <div class="votos pull right">
                     <p><a href="#" class="glyphicon glyphicon-thumbs-up"></a><span class="badge positive"> <%= @answer.votes.positive.count %></span></p>

                    <span style="border-left: 2px solid black;margin:1px"></span>

                    <p><a href="#" class="glyphicon glyphicon-thumbs-down"></a></p><span class="badge negative"> <%= @answer.votes.negative.count %></span>             
                    
                  </div>  
                 

                <% end %>

              </div>
              
              <% cantidad=@answer.answer_comment.count %>
              <% if cantidad != 0 %>
                <% @answer.answer_comment.all.order("created_at desc").each do |answercomment| %>
                  <div class="alert alert-success" role="alert">
                <% if current_user != answercomment.user %>
                    <%= answercomment.fecha %> | <%= answercomment.user.full_name %>: <%= answercomment.texto %>
                <% else %>

                 <% if @editar != "3" %>

                      <%= answercomment.fecha %> | <%= answercomment.user.full_name %>: <%= answercomment.texto %> <%= link_to 'Editar', edit_answer_answer_comment_path(:id => answercomment.id, :answer_id => answercomment.answer.id), class:"btn btn-default  pull-right" %>
                  <% else %>
                      <% @answerComment= AnswerComment.find(:ida) %>
                      <%= form_for [@answer,@answerComment] do |g| %>
                        <div class="form-group">
                          <%= g.text_field :texto ,class: "form-control", placeholder: "Escriba su Comentario", required:true %>
                          <% g.hidden_field :answer %>
                          <div class="input-group-btn">
                            <%= g.submit "Guardar cambios", class:"btn btn-default"  %>
                          </div>
                          
                        </div>
                      <% end %>
                  <% end %>
                <% end %>

                   <% if user_signed_in? %>
                      <div class="votos pull-right">
                        <p>
                          <%= link_to "",new_vote_path(:valor => true,:id => answercomment,:tipo => "AnswerComment",:user => current_user.id,:question => @question), class:"glyphicon glyphicon-thumbs-up" %><span class="badge positive"> <%= answercomment.votes.positive.count %></span>
                        </p>
                        <span style="border-left: 2px solid black;margin:1px"></span>
                        <p>
                          <%= link_to "",new_vote_path(:valor => false,:id => answercomment,:tipo => "AnswerComment",:user => current_user.id,:question => @question), class:"glyphicon glyphicon-thumbs-down" %><span class="badge negative"> <%= answercomment.votes.negative.count %></span>
                        </p>
                      </div>
                    <% else %>
                      <div class="votos pull-right">
                        <p><a href="#" class="glyphicon glyphicon-thumbs-up"></a><span class="badge positive"> <%= answercomment.votes.positive.count %></span></p>
                      
                        <span style="border-left: 2px solid black;margin:1px"></span>

                        <p><a href="#" class="glyphicon glyphicon-thumbs-down"></a></p><span class="badge negative"> <%= answercomment.votes.negative.count %></span>
                      </div>
                     

                    <% end %>
                  </div>
                <% end %>
              <% end  %>
              <% if user_signed_in? %>
                <% @answerComment= AnswerComment.new %>
                <%= form_for [@answer,@answerComment] do |g| %>
                  <div class="form-group">
                    <%= g.text_field :texto ,class: "form-control", placeholder: "Escriba su Comentario", required:true %>
                    <% g.hidden_field :answer %>
                    <div class="input-group-btn">
                      <%= g.submit "Comentar", class:"btn btn-default"  %>
                    </div>
                    
                  </div>
                <% end %>
              <% end %>
      </article>
<% end %>  
<% cantidad=@question.answer.count %>
  <div class="Cant-respuestas">
    <p  class="label label-success pull-left CantRespuestas">Respuestas <span class="badge"><%= cantidad %></span></p>
    </br>
    </br>
    
</div>

 <% if cantidad != 0 %>
  <% @question.answer.all.order("created_at desc").each do |answer| %>
  <article class="post clearfix">
   <% if answer.id != @question.bestAnswer %>
          <div class="imagen thumb pull-left hidden-xs hidden-sm"> <%= image_tag "perfil.jpg", class:"img-thumbnail", alt:"Foto de perfil" %> </div>
          <div class="encabezado">

          <%if current_user == answer.user%>
             <%= link_to 'Editar', edit_answer_path(:id => answer.id), class:"btn btn-default  pull-right"%> <p><span class="post-fecha "><%= answer.fecha %> por <span class="post-autor"><a href="#"><%= answer.user.full_name %></a>Puntos: <%= @question.user.votos %></span></p>
          <% else %>
             <p><span class="post-fecha "> <%= answer.fecha %> por <span class="post-autor"><a href="#"><%= answer.user.full_name %></a>Puntos: <%= @question.user.votos %></span></p>
              <% end %>
    

<% if @editar != "1" or current_user != answer.user %>
                <p><span class="post-contenido text-justify "><%= sanitize answer.texto %></span></p>
             
            <br>
            <% if user_signed_in? %>

                  <div class="votos pull-right">
                    <p>
                      <%= link_to "",new_vote_path(:valor => true,:id => answer,:tipo => "Answer",:user => current_user.id,:question => @question), class:"glyphicon glyphicon-thumbs-up" %><span class="badge positive"> <%= answer.votes.positive.count %></span>
                    </p>
                    <span style="border-left: 2px solid black;margin:1px"></span>
                    <p>
                      <%= link_to "",new_vote_path(:valor => false,:id => answer,:tipo => "Answer",:user => current_user.id,:question => @question), class:"glyphicon glyphicon-thumbs-down" %><span class="badge negative"> <%= answer.votes.negative.count %></span>
                    </p>
                    <% if current_user == @question.user %>
                      <% if @question.user != answer.user %>
                        <p>
                          <%= link_to "",question_bestAnswer_path(current_user,:answer => answer,:question => @question), class:"glyphicon glyphicon glyphicon-star-empty" ,data:{confirm:"Estas seguro de elegir como favorito esta respuesta"}%>
                        </p>
                      <% end %>
                    <% end %>
                  </div>

                <% else %>
                  <div class="votos pull right">
                     <p><a href="#" class="glyphicon glyphicon-thumbs-up"></a><span class="badge positive"> <%= answer.votes.positive.count %></span></p>

                    <span style="border-left: 2px solid black;margin:1px"></span>

                    <p><a href="#" class="glyphicon glyphicon-thumbs-down"></a></p><span class="badge negative"> <%= answer.votes.negative.count %></span>             
                    
                  </div>  
                 

                <% end %>

              </div>


                 
              <% cantidad=answer.answer_comment.count %>
              <% if cantidad != 0 %>
                <% answer.answer_comment.all.order("created_at desc").each do |answercomment| %>
                  <div class="alert alert-success" role="alert">
                   <% if current_user != answercomment.user %>
                    <%= answercomment.fecha %> | <%= answercomment.user.full_name %>: <%= answercomment.texto %>
                <% else %>
             
                 <% if @editar != "3" or answercomment.id.to_s != params[:ida] %>

                      <%= answercomment.fecha %> | <%= answercomment.user.full_name %>: <%= answercomment.texto %> <%= link_to 'Editar', edit_answer_answer_comment_path(:id => answercomment.id, :answer_id => answercomment.answer.id), class:"btn btn-default  pull-right" %>
                  <% else %>
                   
                      <% @answerComment= AnswerComment.find(params[:ida]) %>
                      <% @answer = answer %>
                      <%= form_for [@answer,@answerComment] do |g| %>
                        <div class="form-group">
                          <%= g.text_field :texto ,class: "form-control", placeholder: "Escriba su Comentario", required:true %>
                          <% g.hidden_field :answer %>
                          <div class="input-group-btn">
                            <%= g.submit "Guardar cambios", class:"btn btn-default"  %>
                          </div>
                          
                        </div>
                      <% end %>
                  <% end %>
                <% end %>
                   <% if user_signed_in? %>
                      <div class="votos pull-right">
                        <p>
                          <%= link_to "",new_vote_path(:valor => true,:id => answercomment,:tipo => "AnswerComment",:user => current_user.id,:question => @question), class:"glyphicon glyphicon-thumbs-up" %><span class="badge positive"> <%= answercomment.votes.positive.count %></span>
                        </p>
                        <span style="border-left: 2px solid black;margin:1px"></span>
                        <p>
                          <%= link_to "",new_vote_path(:valor => false,:id => answercomment,:tipo => "AnswerComment",:user => current_user.id,:question => @question), class:"glyphicon glyphicon-thumbs-down" %><span class="badge negative"> <%= answercomment.votes.negative.count %></span>
                        </p>
                      </div>
                    <% else %>
                      <div class="votos pull-right">
                        <p><a href="#" class="glyphicon glyphicon-thumbs-up"></a><span class="badge positive"> <%= answercomment.votes.positive.count %></span></p>
                      
                        <span style="border-left: 2px solid black;margin:1px"></span>

                        <p><a href="#" class="glyphicon glyphicon-thumbs-down"></a></p><span class="badge negative"> <%= answercomment.votes.negative.count %></span>
                      </div>
                     


                    <% end %>
                  </div>
                <% end %>
              <% end  %>
              <% if user_signed_in? %>
                <% @answerComment= AnswerComment.new %>
                <% @answer = answer %>
                <%= form_for [@answer,@answerComment] do |g| %>
                  <div class="form-group">
                    <%= g.text_field :texto ,class: "form-control", placeholder: "Escriba su Comentario", required:true %>
                    <% g.hidden_field :answer %>
                    <div class="input-group-btn">
                      <%= g.submit "Comentar", class:"btn btn-default"  %>
                    </div>
                    
                  </div>
                <% end %>
              <% end %>
  <% else %>
</br>
  <% @answer = Answer.find(params[:ida]) %>
        <%= form_for [@question,@answer] do |f| %>
        <div class="form-group">
          <%= f.label :texto, "Editar respuesta" %><br>
          <%= f.text_area :texto, :class => "tinymce", placeholder: "Escriba su respuesta",rows:5 %>
          <%= tinymce %>
          <%= f.hidden_field :question %>
        </div>
        <%= f.submit "Guardar Cambios", class:"btn btn-default"  %>
        <% end %>
<% end %>



      </article>
    <% end %>
<% end %>
<% end %>

<% if user_signed_in? %>

  <% @cantidad = @question.answer.where(user: current_user.id).count %> 
  <%if @cantidad == 0 %>
      <% @answer = Answer.new %>  
      <%= form_for [@question,@answer] do |f| %>
        <div class="form-group">
          <%= f.label :texto, "Cuerpo de la respuesta" %><br>
          <%= f.text_area :texto, :class => "tinymce", placeholder: "Escriba su respuesta",rows:15 %>
          <%= tinymce %>
          <%= f.hidden_field :question %>
        </div>
        <%= f.submit "Enviar Respuesta", class:"btn btn-default"  %>
      <% end %>
  <% else %>
     <div class="alert alert-danger" role="alert">Disculpe, solo se puede realizar una respuesta por pregunta</div>
  <% end %>
<% end %>
