
<%= image_tag @user.foto, class:"img-thumbnail imagen-perfil  pull-left hidden-xs hidden-sm", alt:"Foto de perfil" %><h2 class="pull-right"><%= @user.votos %> Puntos</h2><h2><%=  @user.full_name %></h2>

 <h4><%= @user.university.nombre %></h4>

    <h4>	<%=@user.descripcion %></h4>
 

 </br>

<h4> Etiquetas seguidas</h4>
  
	<%@user.tags.each do |tag|%>
 		<%= link_to tag.nombre , tag_path(:id => tag.id),class:"btn btn-default"%> 
 	<% end %>

</br>
</br>
<table class="table table-hover">
	<tr>
		<th>Pregunta</th>
		<th>Respuestas</th>
		<th>Votos</th>
	</tr>
	<%@user.questions.each do |question|%>
		<tr>
			<td class="col-md-6"> <%= link_to question.titulo , question_path(:id => question.id,:condicion => "0")%> </td>
			<td class="col-md-3"> <%= question.answer.count %> </td>
			<td class="col-md-3">
              
             	<span class="glyphicon glyphicon-thumbs-up"></span> <span class="badge positive"> <%= question.votes.positive.count %> </span>
              <span style="border-left: 2px solid black; margin:1px"> </span>
             	<span class="glyphicon glyphicon-thumbs-down"></span> <span class="badge negative"> <%= question.votes.negative.count %> </span>
              
           </td>
		</tr>
	<% end %>
</table>

<%= link_to "Editar perfil", edit_user_registration_path,class:"btn btn-primary" %>