
<%= image_tag @user.foto, class:"img-thumbnail imagen-perfil  pull-left hidden-xs hidden-sm", alt:"Foto de perfil" %><h2 class="pull-right"><%= @user.votos %> Puntos</h2><h2><%=  @user.full_name %></h2>

 <h4><%= @user.university.nombre %></h4>

    <h4>	<%=@user.descripcion %></h4>
 
etiquetas uqe sigo </br>
Listado de preugntas
