<% if @condicion != "1" %>
  <% if @condicion == "0" %>
   <div class="alert alert-danger" role="alert">No se pudo crear la etiqueta ya que la misma ya existe.</div>
  <% end %>
  <% if @condicion == "2" %>
    <div class="alert alert-danger" role="alert">Requieres de <%= Permiso.where(nombre: "Crear Etiqueta",tipo:"Necesario").first.cantidad %> puntos para crear una etiqueta.</div>
  <% end %>
   <% if @condicion == "3" %>
    <div class="alert alert-danger" role="alert">Requieres de <%= Permiso.where(nombre: "Eliminar Etiqueta",tipo:"Necesario").first.cantidad %> puntos para eliminar una etiqueta.</div>
  <% end %>
 
<% end %>
<div class="row">
      <section class="posts col-md-9" >
        <div class="miga-de-pan">
          <ol class="breadcrumb">
            <li><%= link_to 'Inicio', questions_path%></li>
            <li>Crear/Borrar Etiqueta</li>
          </ol>
 </div>

<div class="row">
   <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-info">
          <div class="panel-heading">Etiquetas existentes</div>
      </div>
      <% Tag.all.each do |tag| %>
      <div class="panel panel-default">
          <div class="panel-heading">

            <%= tag.nombre %>   <%= link_to "",tag_destroy_path(current_user,:tag_id => tag.id), class:"glyphicon glyphicon-remove-sign",data:{confirm:"Estas seguro de borrar esta Etiqueta"} %>
          </div>
        </div>
      <% end %>


      <% @tag= Tag.new %>
      <%= form_for @tag do |f| %>
       
        <%= f.text_field :nombre,class: "form-control", placeholder: "Escriba el nombre de la etiqueta", required:true  %>
       <%= f.submit "Nueva Etiqueta", class:"btn btn-default" %>

      <% end %>
    </div>
</div>