<% if @condicion == "0" %>
   <div class="alert alert-danger" role="alert">Ya sigues a esta etiqueta.</div>
<% end %>
<div class="row">
<div class="row">
      <section class="posts col-md-9" >
        <div class="miga-de-pan">
          <ol class="breadcrumb">
            <li><%= link_to 'Inicio', questions_path%></li>
            <li>Seguir-Ver Etiquetas</li>
          </ol>
 </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-info">
          <div class="panel-heading">Etiquetas existentes</div>
      </div>
      <% Tag.all.each do |tags| %>
      <div class="panel panel-default">
          <div class="panel-heading">

            <%= link_to tags.nombre , tag_path(:id => tags.id) %> <%= link_to "",follow_tag_path(:id => tags), class:"glyphicon glyphicon-plus-sign",data:{confirm:"¿Esta seguro de que quiere seguir esta etiqueta?"} %>
          </div>
        </div>
      <% end %>

    </div>
</div>
<br>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-info">
          <div class="panel-heading">Etiquetas Seguidas</div>
      </div>
      <% @seguidos.all.each do |etiquetaseguidas| %>
      <div class="panel panel-default">
          <div class="panel-heading">
            <%= etiquetaseguidas.nombre %> <%= link_to "",unfollow_tag_path(:id => etiquetaseguidas), class:"glyphicon glyphicon-remove",data:{confirm:"¿Esta seguro de que quiere dejar de seguir esta etiqueta?"} %>
          </div>
        </div>
      <% end %>

    </div>
</div>