<div class="row">
      <section class="posts col-md-9" >
        <div class="miga-de-pan">
          <ol class="breadcrumb">
            <li><%= link_to 'Inicio', questions_path%></li>
            <li>Ver preguntas de <%= @university.nombre %></li>
          </ol>
 </div>
<% if @university.question.count == 0 %>
      <%= image_tag "sincontenido.jpg", class:"img-thumbnail", alt:"Sin contenido" %>  
<% else %>

  <% @university.question.all.order("created_at desc").each do |pregunta| %>
        <article class="post clearfix">
          <a href="#" class="imagen thumb pull-left hidden-xs hidden-sm"><%= image_tag pregunta.user.foto, class:"img-thumbnail", alt:"Foto de perfil" %>
          </a>
          <div class="encabezado">
            
            <h3 class="post-title"><%= link_to pregunta.titulo, question_path(:id => pregunta.id,:condicion => "0", :editar => "0")%></h2>
            <p><span class="post-fecha"><%= pregunta.fecha %></span> por <span class="post-autor"><%= link_to pregunta.user.full_name, perfil_path(pregunta.user.id) %></span></p>

          </div>
          <p><span class="post-contenido text-justify"><%= sanitize truncate(pregunta.cuerpo, length: 100, escape: false) %></span></p> 
          <br>
          <h4> Etiquetas:</h4>
          <% pregunta.tags.each do |tag| %>
            <button type="button" class="btn btn-default"><%= tag.nombre %></button>
          <% end %>
          <h4>Facultad:</h4>
          <% if not pregunta.university.nil? %>
            <%= link_to pregunta.university.nombre , university_path(:id => pregunta.university.id),class:"btn btn-default"%>
          <% end %>
          <div class="contenedor-botones">
            <%= link_to 'Leer Mas', question_path(:id => pregunta.id,:condicion => "0", :editar => "0"),class:"btn btn-primary pull-right"%>
               
            <p  class="label label-success pull-right CantRespuestas">Respuestas <span class="badge"><%= pregunta.answer.count %></span></p> 
          </div> 

        </article>
  <% end %>

<% end %>