<header>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
          <div class="navbar-header"> <!-- Boton que va a aparecer cuando se haga responsie-->
              <button type ="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion-edu">
                <span class="sr-only"> Desplegar/Ocultar Menu </span>  
                <span class="icon-bar"> </span>  
                <span class="icon-bar"> </span>  
                <span class="icon-bar"> </span>  
              </button>
              <%= link_to (image_tag "logo_chico.png", class:"Logo"),questions_url  %> 

            
          </div>
          <div class="collapse navbar-collapse" id="navegacion-edu">
              <% if user_signed_in? %>
                <ul class="nav navbar-nav">
                  
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">

                      Etiquetas <span class="caret"> </span>

                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><%= link_to 'Crear/Borrar', tags_path %> </li>
                      <li><%= link_to 'Seguir/Ver', seguidos_tag_path(current_user,:condicion => 1) %> </li>
                      <li class="divider"></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">

                      Facultad <span class="caret"> </span>

                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><%= link_to 'Crear/Borrar', universities_path %> </li>
                      <li><%= link_to 'Seguir/Ver', seguidos_university_path(current_user,:condicion => 1) %> </li>
                      <li class="divider"></li>
                    </ul>
                  </li>
                  <li><%= link_to 'Nueva Pregunta', new_question_path(:user => current_user) %> </li>
                  <li><%= link_to 'Contacto', send_path %></li>
                </ul>
              <% end %>
              <ul class="nav navbar-nav navbar-right registro form-group">
                  
                  <% if user_signed_in? %>
                    <div class="usuario-logeado">
                    <% if current_user.nombre == "" and current_user.apellido == "" %>
                      <p><%= current_user.email %> </p>
                    <% else %>
                      <p><%= current_user.full_name %> </p>
                      <% end %>
                    </div>
                      
                      <%= link_to 'Perfil', perfil_path(current_user.id),class:"btn btn-primary"%> 
                      <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete,class:"btn btn-primary"%> 
                      
                  <% else %>

                      <%=link_to "Registrarse",new_user_registration_url,class:"btn btn-primary" %>
                          
                      <%=link_to "Iniciar Sesión",new_user_session_url,class:"btn btn-primary"%>                 
                  <% end %>
                 
              </ul>

              <%= form_tag questions_path, method: :get, class:"navbar-form navbar-right", role:"search" do %>
                <%= text_field_tag :buscar, params[:buscar], class:"form-control", placeholder:"Buscar"  %>
                <button type="submit" class="btn btn-primary">
                  <span class="glyphicon glyphicon-search"></span>
                </button>

              <% end %>
              
          </div>
      </div>
    </nav>


  </header>


